<component name="ArtifactManager">
  <artifact type="war" name="springmvc02:war">
    <output-path>$PROJECT_DIR$/springmvc02/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springmvc02</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springmvc02-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="springmvc02:war exploded" />
    </root>
  </artifact>
</component>